@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
}

.header-line {
  width: 1440px;
  height: 80px;
  background: #7e7d7d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.header-line .nav-item {
  color: #4C5866;
  text-decoration: none;
  font-size: 20px;
  line-height: 23;
  font-weight: 400;
  margin-right: 60px;
  -webkit-transition: color 0.3s linear;
  transition: color 0.3s linear;
}
.header-line .nav-item:hover {
  color: #7875FE;
}
.header-line .search {
  position: relative;
  height: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header-line .cart-img {
  position: absolute;
}
.header-line .cart-img:first-child {
  right: 165px;
  margin-right: 10px; /* Добавлен отступ между картинками */
}
.header-line .cart-img:last-child {
  right: 0;
}